{% extends 'base.html.twig' %}
{% block title %} Show Clients{% endblock %}
{% block body %}
    {{ parent() }}
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Client Database
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="{{ path("new") }}">Add Client</a></li>
                                        <li><a href="{{ path("delete") }}">Delete Client</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Cin</th>
                                        <th>Date de naissance</th>
                                        <th>Adresse</th>
                                        <th>Ville</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Cin</th>
                                        <th>Date de naissance</th>
                                        <th>Adresse</th>
                                        <th>Ville</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for client in clients %}
                                    <tr>
                                        <td>{{ client.nom }}</td>
                                        <td>{{ client.prenom}}</td>
                                        <td>{{ client.cin }}</td>
                                        <td>{{ client.date | date('Y-m-d')}}</td>
                                        <td>{{ client.adresse }}</td>
                                        <td>{{ client.ville }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->
        </div>
    </section>
{%  endblock %}